<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true" >

	<targets>
		<target name="network" xsi:type="Network" address="udp://51.83.242.93:5000">
			<layout xsi:type="JsonLayout">
				<attribute name="date" layout="${date:format=yyyy-MM-dd'T'HH\:mm\:ss.fffffffK}" />
				<attribute name="level" layout="${level:upperCase=true}"/>
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=@}" encode="false" />
				<attribute name="logger" layout="${callsite}" />
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="network" />
	</rules>
</nlog>